<header>

  <div class="block-top">
    <h1><a href="/">{{ site.title }}</a></h1>
    <span class="job-description">{{ site.blurb }}</span>
  </div>

  <div class="block-bott">
    <div class="social-buttons">
      <a href="http://www.twitter.com/almostpicard"><i class="fa fa-twitter-square fa-2x" href=#></i>
      <a href="http://www.github.com/aasteward"><i class="fa fa-github-square fa-2x" href=#></i>
      <a href="http://www.linkedin.com/in/aaron-steward"><i class="fa fa-linkedin-square fa-2x" href=#></i>
    </div>
    <div class="head-nav-div">
      <a class="head-nav" href=#><str>Articles</str></a>
      <a class="head-nav" href=#><str>About</str></a>
    </div>
  </div>

<ul>
    {% for the_page in site.pages %}
      {% if the_page.title %}
      <li><a href="{{ the_page.url }}">{{ the_page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</header>
