<header>

  <div class="block-top">
    <div>
    <h1 class="nameplate"><a href="/" class="nameplate">{{ site.title }}</a></h1>
    <span class="job-description">{{ site.blurb }}</span>
    </div>

    <div class="nav-menu">
      <i class="fa fa-bars"></i>
    </div>
  </div>

  <div class="block-bott">
    <div class="social-buttons">
      <a href="http://www.twitter.com/almostpicard"><i class="fa fa-twitter-square fa-2x" href=#></i>
      <a href="http://www.github.com/aasteward"><i class="fa fa-github-square fa-2x" href=#></i>
      <a href="http://www.linkedin.com/in/aaron-steward"><i class="fa fa-linkedin-square fa-2x" href=#></i>
    </div>
    
    <div class="head-nav-div">
      {% for the_page in site.pages %}
        {% if the_page.title %}
        <a class="head-nav" href="{{ the_page.url }}"><str>{{ the_page.title }}</str></a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
</header>
